<div class="content">

    <div class="title back">
        <h1>Nosotros</h1>
    </div>

    <div class="title">
        <h1>Nosotros</h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p style="margin-bottom: 4rem;">
                    Somos una empresa con años de tradición y experiencia en el ámbito de la construcción. Nos focalizamos en la venta y manufactura de productos de aluminio, zinc y zincalum para techos, ventanas, etc. Confíe su construcción en nosotros.
                </p>
                <div class="svg-container">
                    <app-svg-draws></app-svg-draws>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="svg-container" style="margin-bottom: 4rem;">
                    <app-svg-draws2></app-svg-draws2>
                </div>
                <p>
                    Realizamos estructuras y productos variados, para todas las necesidades que un hogar pueda tener; nombre un producto de metal y nosotros lo tenemos, o lo fabricamos.
                </p>
            </div>
        </div>
    </div>



    <svg class="footer" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 1920 278" enable-background="new 0 0 900 278" xml:space="preserve">
        <polygon [attr.fill]="svgColor" [attr.points]="svgCoordinates"/>
    </svg>
</div>
