.card-container {
  display: flex;
  flex-direction: row;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: space-around;
  border: 1px solid black;
  width: 30%;
  height: 10rem;
  margin-right: 1rem;
}
.card:last-child {
  margin-right: 0rem;
} 

.col-md-4 {
  width: 20%;
  border: 1px solid red;
}

.col-md-8 {
  width: 80%;
  text-align: center;
  padding-top: 1.5rem;
}

.cover-img {
  width: 100%;
  height: auto;
}

.slider-urls {
  display: none;
}

.dimensions li {
  border: 1px solid black;
  display: inline;
}