<div class="card-container">
	<h1>Catalogo</h1>
<!--
	<div class="card" *ngFor="let item of items">
    <div class="col-md-4">
		  <img class="cover-img" src="{{item.coverImgUrl}}">
    </div>

    <div class="col-md-8">
		  <div>{{item.name}} - <span>{{item.thick}}</span></div>

  		<div class="slider-urls">
  			<ul>
  				<li *ngFor="let slide of item.sliderImgUrl">{{slide}}</li>
  			</ul>
      </div>
    
  		<div class="dimensions">
        <p>Dimensiones</p>
  			<ul>
  				<li *ngFor="let dimension of item.dimension">
  					 <span>{{dimension.img}}</span> 
  					{{dimension.number}}
  				</li>
  			</ul>
  		</div>

    </div>
	</div>
-->

</div>