.card {
    display: flex;
    border: 1px solid lightgray;
    height: 160px;
    margin: 2rem 1rem;
    border-radius: 10px;
}

.image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 40%;
    border-radius: 10px;
    
}

.card-content {
    width: 60%;
    text-align: center;
    padding-top: 2rem;
    transition: all 0.2s ease-in-out;
}

.card-content:hover {
    background-color: lightblue;
    cursor: pointer;
}