ul, ol {
  list-style: none;
}

.cb-slideshow,
.cb-slideshow:after { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1; 
}

/* .cb-slideshow:after { 
    content: '';
    background: transparent url(/assets/slideshow/pattern.png) repeat top left;
    z-index: 1;
} */

.cb-slideshow li span { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	backface-visibility: hidden;
    animation: imageAnimation 18s linear infinite 0s; 
}
.cb-slideshow li div { 
    z-index: 1000;
    position: absolute;
    top: 45%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    background-color: white;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.5);
    color: #777;
    animation: titleAnimation 18s linear infinite 0s;
}
.cb-slideshow li div:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: darkcyan;
    width: 8px;
    height: 100%;
}
.cb-slideshow li div h3 {
    font-size: 1.8rem;
    padding: 0;
    line-height:1.9rem; 
}

.cb-slideshow li:nth-child(2) span {
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) span {
    animation-delay: 12s; 
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s; 
}

/* Animation for the slideshow images */
@keyframes imageAnimation { 
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    16% { opacity: 1;
         animation-timing-function: ease-out; }
    35% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@keyframes titleAnimation { 
    0% { opacity: 0 }
    16% { opacity: 1 }
    35% { opacity: 1 }
    40% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) { 
    .cb-slideshow li div h3 { font-size: 3rem }
}
@media screen and (max-width: 600px) { 
    .cb-slideshow li div h3 { font-size: 3rem }
}

.description {
    padding: 4rem;
    border-radius: 10px;
}

.description h6 {
    text-align: left;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 900;
}

.description p {
    text-align: left;
    margin: 0;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: teal;
    padding: 4rem;
    color: white;
}


footer .col-sm-4 h1 {
    margin: 0;
    line-height: 4rem;
}


.col-sm-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.column {
    flex-direction: column;
    text-align: left;
}

.icon, .desc {
    display: inline-block;
    text-align: left;
}

.icon {
    font-size: 35px;
    margin-right: 1.5rem;
}

.desc p {
    margin-bottom: 0;
}
.tel {
    display: inline-block;
}
